__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/
.pytest_cache/
.coverage
htmlcov/
*.log

# TeX artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.lot
*.out
*.toc
*.run.xml
*.synctex.gz
*.pdf

# Output folder content (except .gitkeep)
output/*
!output/.gitkeep
